
@{
    ViewData["Title"] = "Client - Schedule";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>SPF Schedule Sessions</h1>


<div class="container">
    <div style="height:100%; width:100%;" class="schedule_iframe">
        <iframe height="800" width="1000" allowfullscreen src="https://docs.google.com/spreadsheets/d/1m4wHcNCNCnzoJEYM5n3XlCdnkO6Py1P-1rTaZQ1ydTY/edit?usp=sharing;single=true&amp;widget=true&amp;headers=false"></iframe>
    </div>
</div>

