@model SPFWebsitMVC.Models.DayWeight

@{
    ViewData["Title"] = "Chart Progress - Chart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Client Chart Progress</h1>
<br />
<br />

<div id="linechart_material"></div>
<input id="chartClientId" hidden value="@Model.ClientId" />

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="~/js/chart.js" asp-append-version="true"></script>

<script type="text/javascript">
    google.charts.load('current', { 'packages': ['line'] });
    google.charts.setOnLoadCallback(drawChart);
</script>
<div>
    <a asp-action="Index">Back to Chart Progress Home</a>
</div>