
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="row">
        <img id="bannerNonLogin" style="width:100%; height:300px;" src="~/images/SPFLogo.jpg" atl="SPF Logo">
    </div>
    <center>
        <h1>Our Story</h1>
    </center>
    <br />
    <h3>Team Training of SPF</h3>
    <br />
    <p>
    Starting Point Fitness was originally founded from our cornerstone service Team Training. Team Training
    is a program that is a unique alternative to personal training. It was originally built out of a need to
    help more people achieve their health and fitness goals at a low cost that is affordable to the average
    person. During the fun, upbeat, community-based workouts each member receives personal attention and
    modifications that suits their level of fitness. As with personal training, team training members also
    have the opportunity to discuss nutrition advice as needed. We understand that with exercise there can be
    pain or limitations which is why all our members are always allowed access to our staffed physical therapist
    or athletic trainer.
    <br /><br />
    <h3>The Workouts Consist of...</h3>
    <br />
    <ul style="list-style-type:circle">
        <li>Community Style, Family based Program</li>
        <li>Fun and Positive environment creating Camaraderie</li>
        <li>Efficient Full Body Workouts to Tone and Tighten</li>
        <li>3 Dimensional Functional Workouts to Tone and Tighten</li>
        <li>Progressions and Regressions to fit all Fitness levels</li>
        <li>Affordable</li>
    </ul>
    <br />
    In addition, what separates Team Training from other group personal training studios, is having our own 
    Doctor of Physical Therapy and Certified Athletic Trainer to ensure clients can workout safely and effectively
    around their orthopedic limitations. Thus is why clients are provided Personalized Sessions outside of the 
    classes to work on their specific needs, that are not addressed in class.
    <br /><br />
    <ul style="list-style-type:circle">
        <li>Personalized Workout Programming on weaknesses</li>
        <li>Manual Therapy & Dry Needling from our Licensed Physical Therapist & Certified Athletic Trainer</li>
        <li>Corrective Exercise & Mobility Programs for muscular imbalances</li>
        <li>Nutritional Counseling healthy lifestyle alternative Direction</li>
        <li>Goal Setting Accountability and Measurement Tracking</li>
    </ulstyle="list-style-type:circle">



