@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Starting Point Fitness</h1>
</div>
<p>
    A Community based Heath & Fitness Studio for those who struggle with an Orthopedic limitation and are 
    looking to improve their Health and Wellness by having an onsite Physical Therapist and ATC to guide them along the way.
</p>
<img src="~/images/SPFBanner.jpg" />
