
@{
    ViewData["Title"] = "Personel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Personel</h1><br/>
<p>
    Trainers: Zach Janczak, Lisa Donaldson
    Physical Therapist: Joey Kitten
</p>

<img src="~/images/Trainers.jpg" />

