
@{
    ViewData["Title"] = "Personel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <img id="bannerNonLogin" style="width:100%; height:300px;" src="~/images/Trainers2.jpg" atl="SPF Trainers">
</div>
<div class="row" id="bodyrow">
    <div class="col-sm-2" style="background-color:lightsteelblue">
        <center>
            <br /><br />
            <img id="SPTLogo" style="width:100%" src="~/images/SPFLogo.jpg" alt="SPF Logo">
            <br /><br /><br />
            <h6> Fitness Training</h6>
            <h6> Health Coaching</h6>
            <h6> (Virtual/In-person)</h6>
            <h6> Physical Therapy</h6>
            <h6> Dry Needling</h6>
            <br />
        </center>
    </div>
    <div class="col-sm-10">
        <div class="container" style="margin: 25px">
            <h1><u>SPF Personel</u></h1><br />
            <h3>Zach Janczak</h3>
            <p>
                Highly ambitious individual who strives to create opportunity for others to reach their full potential
                and become the best versions of themselves through guidance, development, and service.
            </p>
            <h5>Experience</h5>
            <ul style="list-style-type:circle">
                <li>Fitness Consultant - Anytime Fitness</li>
                <li>Fitness Manager - Fitness Evolution</li>
                <li>Strength and Conditioning Coarch - Montana State University</li>
                <li>Head Personal Trainer - Xperience Fitness</li>
                <li>B.S. Exercise Science and Nutrition - Carroll University</li>
            </ul><br />
            <h3>Lisa Donaldson</h3>
            <p>
                Highly ambitious individual who strives to create opportunity for others to reach their full potential
                and become the best versions of themselves through guidance, development, and service.
            </p>
            <h5>Experience</h5>
            <ul style="list-style-type:circle">
                <li>Fitness Consultant - Anytime Fitness</li>
                <li>B.S. Exercise Science and Nutrition - Carroll University</li>
            </ul><br />
            <h3>Joey Kitten</h3>
            <h5>Experience</h5>
            <ul style="list-style-type:circle">
                <li>PT/Personal Trainer - Anytime Fitness</li>
                <li>Physical Therapist - Sports Physical Therapists</li>
                <li>Doctorate, Physical Therapy - Carroll University</li>
            </ul><br /><br />
            <p style="font-style:italic">
                "Zach is an absolute professional—he instructs, inspires and is intense. My workouts became
                more fun and more efficient under Zach’s care. I have more strength and better balance. He
                has a sixth sense about when to push you further and when you may need to take a step back.
                I have been working with Zach for nearly two years and have a much higher level of fitness."
                - Lori
            </p>
        </div>
    </div>
</div>

