
@{
    ViewData["Title"] = "Services";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <img id="bannerNonLogin" style="width:100%; height:300px;" src="~/images/OutdoorWorkout2.jpg" atl="SPF Team Training Outside">
</div>
<div class="row" id="bodyrow">
    <div class="col-sm-2" style="background-color:lightsteelblue">
        <center>
            <br /><br />
            <img id="SPTLogo" style="width:100%" src="~/images/TTSPF.jpg" alt="SPF TT Logo">
            <br /><br /><br />
            <h6> Fitness Training</h6>
            <h6> Health Coaching</h6>
            <h6> (Virtual/In-person)</h6>
            <h6> Physical Therapy</h6>
            <h6> Dry Needling</h6>
            <br />
        </center>
    </div>
    <div class="col-sm-10">
        <div class="container" style="margin: 25px">
            <h1><u>SPF Services</u></h1><br />
            <p>
             Starting Point Fitness provides personalized exercise training and health and nutrition 
             coaching.  Sessions may be virtual (online) or in-person; one-on-one, small group, or team training.
            <br /><br/>
              Starting Point Fitness also provides physical therapy and dry needling services.
            <br /><br />
             Call or email for pricing and scheduling details.
             <br/><br/>
            </p>
            <div class-"row">
                <div class="container" style="margin:25px">
                    <img src="~/images/classDescriptions.jpg" alt="Class Descriptions" />
                </div>
            </div>
        </div>
    </div>
</div>

