
@{
    ViewData["Title"] = "Services";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Services</h1><br />
<p>
    Starting Point Fitness provides exercise training, health coaching, and physical therapy services.  <br />
    Training sessions may be one-on-one or small group; virtual or in-person. 
</p>
