@page
@model IndexModel
@{
    ViewData["Title"] = "About";
}

<body>
    <div class="text-center">
        <h1 class="display-4">Starting Point Fitness is your starting point to better health.</h1>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="scripts/app.js"></script>
</body>
</html>