@page
@model IndexModel
@{
    ViewData["Title"] = "About";
}

<body>
    <div class="text-center">
        <h1 class="display-4">Starting Point Fitness is your starting point to better health.</h1>
    </div>

    <p>@User.Identity.Name</p><br />
    <p>@Model.User.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier)</p>
</body>
