@page
@model IndexModel
@{
    ViewData["Title"] = "Coaches";
}

<body>
    <div class="text-center">
        <h1 class="display-4">Meet Zach, Lisa, Howie, and Joey.</h1>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="scripts/app.js"></script>
</body>
</html>