@page
@model IndexModel
@{
    ViewData["Title"] = "Contact";
}

<body>
    <div class="text-center">
        <h1 class="display-4">Contact SPF Email: SPF@gmail.com.</h1>
    </div>

    <p>@User.Identity.Name</p><br />
    <p>@Model.User.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier)</p>
</body>
</html>