@page
@model IndexModel
@{
    ViewData["Title"] = "Contact";
}

<body>
    <div class="text-center">
        <h1 class="display-4">Contact SPF Email: SPF@gmail.com.</h1>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="scripts/app.js"></script>
</body>
</html>