@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    <br />
    Protecting your private information is our priority.  This Statement of Privacy applies to
    Starting Point Fitness and governs data collection and usage.  For purposes of this Privacy Policy,
    unless otherwise noted, all references to Starting Point Fitness include SPF.  The SPF website is 
    an ecommerce site.  By using the SPF website, you consent to the data practices described in this statement.
</p>
<br />
<p>
    <h3>Collection of your Personal Information</h3>
    In order to better provide you with services offered on our Site, SPF may collect personally
    identifiable information , such as your:  First and Last Name, Address, Phone Number, and Email.
    <br /><br />
    We do not collect any personal information about you unless you voluntarily provide it to us.
</p>
<br />
<p>
    <h3>Use of your Personal Information</h3>
    SPF collects and uses your personal information to operate its website and deliver the services
    you requested.
</p>
<br />
<p>
    <h3>Sharing Information with Third Parties</h3>
    SPF does not sell, rent, or lease its customer lists to third parties.
</p>
<br />
<p>
    Effective as of June 20, 2020.
</p>

