@page
@model IndexModel
@{
    ViewData["Title"] = "Services";
}

    <body>
        <div class="text-center">
            <h1 class="display-4">Starting Point Fitness provides personal and group training.  Online or inperson.</h1>
        </div>
        <p>@User.Identity.Name</p><br />
        <p>@Model.User.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier)</p>
    </body>
</html>